#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
  }
  #navBar h1 {
    width: 25%;
    font-weight: 500;
  }
  #navigationTabs {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
  #navigationTabs p {
    cursor: pointer;
    text-decoration: none;
  }
  #utilityLinks {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }